* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 11.36rem;
  overflow: hidden;
}
.cont {
  width: 6.4rem;
  height: 11.36rem;
  position: relative;
  overflow: auto;
}
.head {
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 1rem;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 999;
}
.head .return {
  float: left;
  color: #e32557;
  font-weight: bold;
  font-size: 20px;
  margin-left: 0.3rem;
}
.head .title {
  font-weight: bolder;
  font-size: 0.32rem;
  margin-right: 0.3rem;
}
.sec {
  width: 6.4rem;
  height: 10.36rem;
  background: #f1f1f1;
  position: absolute;
  top: 1rem;
  left: 0rem;
}
.h3 {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.h3 .tit {
  float: left;
  margin-left: 0.2rem;
  font-weight: bold;
}
.h3 .rig {
  float: right;
  margin-right: 0.2rem;
}
